import 'package:flutter/material.dart';
import 'package:{{packageName}}/core/utils/app_colors.dart';
import 'package:{{packageName}}/core/utils/app_text_styles.dart';
import 'package:{{packageName}}/core/utils/app_dimensions.dart';
import 'package:{{packageName}}/core/constants/app_assets.dart';

class SocialLoginButton extends StatelessWidget {
  final String label;
  final String iconPath;
  final VoidCallback onPressed;

  const SocialLoginButton({
    super.key,
    required this.label,
    required this.iconPath,
    required this.onPressed,
  });

  factory SocialLoginButton.google({required VoidCallback onPressed}) {
    return SocialLoginButton(
      label: 'Continue with Google',
      iconPath: {{assetsClass}}.googleIcon,
      onPressed: onPressed,
    );
  }

  factory SocialLoginButton.apple({required VoidCallback onPressed}) {
    return SocialLoginButton(
      label: 'Continue with Apple',
      iconPath: {{assetsClass}}.appleIcon,
      onPressed: onPressed,
    );
  }

  @override
  Widget build(BuildContext context) {
    return SizedBox(
      height: {{dimensionsClass}}.buttonHeight,
      width: double.infinity,
      child: OutlinedButton.icon(
        onPressed: onPressed,
        icon: Image.asset(iconPath, width: {{dimensionsClass}}.iconMd, height: {{dimensionsClass}}.iconMd),
        label: Text(label, style: {{textStylesClass}}.button.copyWith(color: {{colorsClass}}.textPrimary)),
        style: OutlinedButton.styleFrom(
          side: const BorderSide(color: {{colorsClass}}.inputBorder),
          shape: RoundedRectangleBorder(
            borderRadius: BorderRadius.circular({{dimensionsClass}}.radiusMd),
          ),
          backgroundColor: {{colorsClass}}.surface,
        ),
      ),
    );
  }
}
