import 'package:flutter/material.dart';
import 'package:{{packageName}}/core/utils/app_colors.dart';

class {{gradientsClass}} {
  {{gradientsClass}}._();

  static const LinearGradient primary = LinearGradient(
    colors: [{{colorsClass}}.primary, {{colorsClass}}.primaryDark],
    begin: Alignment.topLeft,
    end: Alignment.bottomRight,
  );

  static const LinearGradient splash = LinearGradient(
    colors: [{{colorsClass}}.primary, {{colorsClass}}.secondary],
    begin: Alignment.topCenter,
    end: Alignment.bottomCenter,
  );
}
