import 'package:flutter/material.dart';
import 'package:{{packageName}}/core/utils/app_colors.dart';
import 'package:{{packageName}}/core/utils/app_dimensions.dart';

class PageIndicator extends StatelessWidget {
  final int count;
  final int current;

  const PageIndicator({
    super.key,
    required this.count,
    required this.current,
  });

  @override
  Widget build(BuildContext context) {
    return Row(
      mainAxisAlignment: MainAxisAlignment.center,
      children: List.generate(count, (index) {
        final isActive = index == current;
        return AnimatedContainer(
          duration: const Duration(milliseconds: 300),
          margin: const EdgeInsets.symmetric(horizontal: {{dimensionsClass}}.xs),
          height: 8,
          width: isActive ? 24 : 8,
          decoration: BoxDecoration(
            color: isActive ? {{colorsClass}}.primary : {{colorsClass}}.divider,
            borderRadius: BorderRadius.circular({{dimensionsClass}}.radiusFull),
          ),
        );
      }),
    );
  }
}
