import 'package:flutter_riverpod/flutter_riverpod.dart';
import 'package:{{packageName}}/features/auth/domain/usecases/forgot_password_usecase.dart';
import 'forgot_password_notifier.dart';
import 'forgot_password_state.dart';

final forgotPasswordProvider =
    StateNotifierProvider.autoDispose<ForgotPasswordNotifier, ForgotPasswordState>((ref) {
  return ForgotPasswordNotifier(ref.watch(forgotPasswordUseCaseProvider));
});

final forgotPasswordUseCaseProvider = Provider<ForgotPasswordUseCase>((ref) {
  throw UnimplementedError('Provide AuthRepository');
});
