import 'package:flutter/material.dart';
import 'package:{{projectName}}/core/utils/app_text_styles.dart';
import 'package:{{projectName}}/core/utils/app_dimensions.dart';
import 'package:{{projectName}}/core/utils/app_colors.dart';

class OnboardingPage extends StatelessWidget {
  final String title;
  final String subtitle;
  final IconData icon;

  const OnboardingPage({
    super.key,
    required this.title,
    required this.subtitle,
    required this.icon,
  });

  @override
  Widget build(BuildContext context) {
    return Padding(
      padding: const EdgeInsets.all({{dimensionsClass}}.lg),
      child: Column(
        mainAxisAlignment: MainAxisAlignment.center,
        children: [
          Expanded(
            flex: 3,
            child: Icon(
              icon,
              size: 150,
              color: {{colorsClass}}.primary,
            ),
          ),
          const SizedBox(height: {{dimensionsClass}}.xxl),
          Expanded(
            flex: 2,
            child: Column(
              children: [
                Text(
                  title,
                  style: {{textStylesClass}}.heading1,
                  textAlign: TextAlign.center,
                ),
                const SizedBox(height: {{dimensionsClass}}.md),
                Text(
                  subtitle,
                  style: {{textStylesClass}}.bodyLarge.copyWith(
                    color: {{colorsClass}}.textSecondary,
                  ),
                  textAlign: TextAlign.center,
                ),
              ],
            ),
          ),
        ],
      ),
    );
  }
}
