import 'package:flutter/material.dart';
import 'package:get/get.dart';
import 'package:{{packageName}}/core/constants/app_routes.dart';

typedef DeleteAccountAction = Future<void> Function();

class DeleteAccountController extends GetxController {
  final DeleteAccountAction _deleteAccount;
  DeleteAccountController(this._deleteAccount);

  final TextEditingController confirmationController = TextEditingController();
  final RxBool isLoading = false.obs;
  final RxBool isSuccess = false.obs;
  final RxnString errorMessage = RxnString();
  final RxString confirmationText = ''.obs;

  @override
  void onInit() {
    confirmationController.addListener(() {
      confirmationText.value = confirmationController.text;
    });
    super.onInit();
  }

  @override
  void onClose() {
    confirmationController.dispose();
    super.onClose();
  }

  Future<void> submit() async {
    if (confirmationController.text.trim().toUpperCase() != 'DELETE') {
      errorMessage.value = 'Type DELETE to confirm account removal.';
      return;
    }

    isLoading.value = true;
    errorMessage.value = null;
    try {
      await _deleteAccount();
      isSuccess.value = true;
      Future.delayed(const Duration(seconds: 3), () {
        Get.offAllNamed(AppRoutes.login);
      });
    } catch (e) {
      errorMessage.value = e.toString();
    } finally {
      isLoading.value = false;
    }
  }

  void goBack() => Get.back();
}
