import 'package:get/get.dart';
import 'package:{{packageName}}/features/auth/domain/usecases/register_usecase.dart';
import 'package:{{packageName}}/core/constants/app_routes.dart';

class RegisterController extends GetxController {
  final RegisterUseCase _registerUseCase;
  RegisterController(this._registerUseCase);

  final RxString firstName = ''.obs;
  final RxString lastName = ''.obs;
  final RxString email = ''.obs;
  final RxString password = ''.obs;
  final RxString confirmPassword = ''.obs;
  final RxBool isLoading = false.obs;
  final RxnString errorMessage = RxnString();

  bool get passwordsMatch => password.value == confirmPassword.value;
  bool get canSubmit =>
      firstName.value.isNotEmpty && lastName.value.isNotEmpty && email.value.isNotEmpty &&
      password.value.isNotEmpty && passwordsMatch;

  Future<void> submit() async {
    if (!canSubmit) return;
    isLoading.value = true;
    errorMessage.value = null;
    try {
      await _registerUseCase(firstName.value, lastName.value, email.value, password.value);
      {{#shouldVerifyEmail}}
      Get.offAllNamed({{routesClass}}.verifyEmail);
      {{/shouldVerifyEmail}}
      {{^shouldVerifyEmail}}
      Get.offAllNamed({{routesClass}}.home);
      {{/shouldVerifyEmail}}
    } catch (e) {
      errorMessage.value = e.toString();
    } finally {
      isLoading.value = false;
    }
  }

  void goToLogin() => Get.back();
}
