sealed class LoginEvent {
  const LoginEvent();
}

class LoginEmailChanged extends LoginEvent {
  final String email;
  const LoginEmailChanged(this.email);
}

class LoginPasswordChanged extends LoginEvent {
  final String password;
  const LoginPasswordChanged(this.password);
}

class LoginSubmitted extends LoginEvent {
  const LoginSubmitted();
}

class LoginSocialSubmitted extends LoginEvent {
  final String provider;
  const LoginSocialSubmitted(this.provider);
}
