import 'package:get/get.dart';
import 'package:{{projectName}}/core/constants/app_routes.dart';

class SplashController extends GetxController {
  @override
  void onInit() {
    super.onInit();
    _handleNavigation();
  }

  Future<void> _handleNavigation() async {
    // Simulate loading/display time
    await Future.delayed(const Duration(seconds: 2));
    
    // In a real app, check storage/auth status
    Get.offNamed(AppRoutes.onboarding);
  }
}
