sealed class DeleteAccountState {
  const DeleteAccountState();
}

class DeleteAccountInitial extends DeleteAccountState {
  const DeleteAccountInitial();
}

class DeleteAccountLoading extends DeleteAccountState {
  const DeleteAccountLoading();
}

class DeleteAccountSuccess extends DeleteAccountState {
  const DeleteAccountSuccess();
}

class DeleteAccountFailure extends DeleteAccountState {
  final String message;
  const DeleteAccountFailure(this.message);
}
