sealed class OnboardingState {
  final int currentPage;
  final bool isLastPage;

  const OnboardingState({
    required this.currentPage,
    required this.isLastPage,
  });
}

class OnboardingInitial extends OnboardingState {
  const OnboardingInitial() : super(currentPage: 0, isLastPage: false);
}

class OnboardingPageChanged extends OnboardingState {
  const OnboardingPageChanged({
    required super.currentPage,
    required super.isLastPage,
  });
}
