import 'package:{{packageName}}/features/auth/data/auth_repository_interface.dart';

class ForgotPasswordUseCase {
  final AuthRepositoryInterface _repository;

  ForgotPasswordUseCase(this._repository);

  Future<void> call(String email) {
    return _repository.forgotPassword(email);
  }
}
