import 'package:{{projectName}}/features/auth/data/auth_repository_interface.dart';
import 'package:{{projectName}}/features/auth/data/models/user_model.dart';

class RegisterUseCase {
  final AuthRepositoryInterface _repository;

  RegisterUseCase(this._repository);

  Future<UserModel> call(String firstName, String lastName, String email, String password) {
    return _repository.register(firstName, lastName, email, password);
  }
}
